<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.celab.toilet.database.toiletdataMapper" >   
   
    
  	
  	<select  id="화장실들불러오다" resultType="com.celab.toilet.info.toilet">
  	select * from totilet where latitude between #{nlat} And #{slat} And longitude between #{nlot} And #{slot};

  	</select>
 
  
</mapper>